<footer class="d-flex justify-content-center align-items-center col-12 flex-wrap">

    <section
        class="block-color d-inline-flex justify-content-between align-items-center col-5 col-lg-2  rounded-3 p-2 me-4">
        <i class="bi bi-lightbulb-off display-6 text-light me-2 col-3"></i>
        <div class="col-6 justify-content-between align-items-center me-1">
            <p class="text-light m-0">Lights</p>
            <p class="footer-ele-stat m-0">Turn off <br> all lights</p>
            <!-- <p class="footer-ele-stat m-0">June 28, 2020</p> -->
            <!-- <i class="bi bi-thermometer-half display-6 d-inline-block col-3"></i> -->
        </div>
        <button class="btn btn-primary align-self-start"></button>
        <!-- <div class="form-check form-switch col-1 align-self-start">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
        </div> -->
    </section>

    <section
        class="block-color d-inline-flex justify-content-between align-items-center col-5 col-lg-2 rounded-3 p-2 my-2 me-4">
        <i class="bi bi-plug display-6 text-light me-2 col-3"></i>
        <div class="col-6 justify-content-between align-items-center me-1">
            <p class="text-light m-0">Outlets</p>
            <p class="footer-ele-stat m-0">Active since</p>
            <p class="footer-ele-stat m-0">June 28, 2020</p>
            <!-- <i class="bi bi-thermometer-half display-6 d-inline-block col-3"></i> -->
        </div>
        <div class="form-check form-switch col-1 align-self-start">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
        </div>
    </section>

    <section class="block-color d-inline-flex justify-content-between align-items-center col-5 col-lg-2 p-2 rounded-3">
        <i class="bi bi-door-open display-6 text-light me-2 col-3"></i>
        <div class="col-6 justify-content-between align-items-center me-1">
            <p class="text-light m-0">Lock doors</p>
            <p class="footer-ele-stat m-0">Active since</p>
            <p class="footer-ele-stat m-0">June 28, 2020</p>
            <!-- <i class="bi bi-thermometer-half display-6 d-inline-block col-3"></i> -->
        </div>
        <div class="form-check form-switch col-1 align-self-start">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
        </div>
    </section>
</footer>


