<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/styles/home/overview.css">
<title>Overview</title>

<main class="d-flex m-0 m-auto upper-main">
    <!-- left aside -->
    <%- include("partials/left_aside", {active: "overview"}) %>

    <!-- right aside -->
    <section class="right-aside d-inline-flex flex-column col-9 pe-3 justify-content-center">
        <!-- <h3 class="text-white display-6 ms-4">Overview</h3> -->
        
        <section class="d-flex flex-wrap mt-2 justify-content-center align-items-stretch">

            <!-- cam section -->
            <section class="col-lg-7 p-0 mt-2 d-flex flex-column align-items-center">
                <!-- camera head and cam num -->
                <div class="d-flex flex-column justify-content-start flex-fill align-items-stretch col-11 camera block-color rounded-3">
                    <div class="d-flex justify-content-between align-items-center pt-3 ps-3 px-2">
                        <h6 class="text-light d-inline-block display-6">Camera</h6>
                        <div class="btn-toolbar d-inline-block text-end" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-primary">1</button>
                                <button type="button" class="btn btn-secondary">2</button>
                                <button type="button" class="btn btn-secondary">3</button>
                                <button type="button" class="btn btn-secondary">4</button>
                            </div>
                        </div>
                    </div>
                    <!-- cam frame -->
                    <img class="img-fluid py-2" src="images/cam_sample.png" alt="">
                </div>
            </section>

            <!-- after cam section -->
            <section class="d-flex flex-column col-11 col-lg-5 text-light">
                <!-- city Weather -->
                <section class="block-color p-4 rounded-3 mt-2">
                    <!-- Weather header -->
                    <h6 class="d-inline-block display-6">Weather</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="d-inline-block display-6 col-9"><%= city_temp %>&deg;C</h6>
                        <i class="bi bi-wind display-4 d-inline-block col-3"></i>
                    </div>
                    <a href="https://weather.com/weather/today/" target="_blank" class="btn btn-primary rounded-pill extra-small-btn">see more info</a>
                </section>

                <section class="d-flex justify-content-between mt-2 align-items-stretch flex-wrap mb-2 mb-lg-0">
                    <!-- home temp -->
                    <div class="col-12 col-md-6 mt-2">
                        <section class="col-12 block-color rounded-3 p-3">
                            <h5 class="d-inline-block">Home Temp</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="d-inline-block display-6 col-9 me-1 lg-base"><%= home_temp %>&deg;C</h6>
                                <i class="bi bi-thermometer-half display-6 d-inline-block col-3"></i>
                            </div>
                            <button class="btn btn-primary rounded-pill extra-small-btn">see more info</button>
                            <!-- <i class="bi bi-thermometer-sun"></i>
                            <i class="bi bi-thermometer-snow"></i> -->
                        </section>
                    </div>

                    <!-- total consumption -->
                    <div class="col-12 col-md-6 mt-2 d-flex justify-content-end align-items-stretch text-start">
                        <section class="d-flex flex-column justify-content-around align-items-stretch block-color rounded-3 col-12 col-md-11 p-3 text-start">
                            <h5 class="d-inline-block fs-6">Consumption</h5>

                            <div class="d-flex flex-row justify-content-between">
                                <h6 class="d-inline-block display-6 fs-4">18 kw/h</h6>
                                <!-- <i class="bi bi-outlet display-6 d-inline-block col-3"></i> -->
                            </div>
                            <button class="btn btn-primary rounded-pill extra-small-btn">see more info</button>
                        </section>
                    </div>
                </section>
            </section>
        </section>
    </section>
</main>

<%- include("partials/footer") %>