
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="icon" href="images/home_icon2.png">
    <link rel="stylesheet" href="styles/rooms/main.css">
    <title>Utopia</title>
</head>


<body class="vh-100">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded-3 shadow-sm d-none">
        <div class="container-fluid container-lg rounded-3      justify-content-between">
            <a class="navbar-brand" href="#">Utopia</a>
            <a class="navbar-brand" href="#"><i class="bi bi-person-circle"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav my-2 my-lg-0" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
                    </li>
                </ul>
                
                    <button class="btn btn-outline-success">Login</button>
            </div>
        </div>
    </nav>

    <!-- main section -->
    <!--p-0 p-xl-3 container-xl-->
    <main class="d-flex m-0 m-auto upper-main">

        <!-- left aside -->
        <aside class="d-inline-flex flex-column position-relative col-3 pt-4 ps-0">
            <div class="position-absolute arrow display-4">
                <i class="bi bi-caret-right-fill"></i>
            </div>
            <section class="mx-auto text-center">
                <img class="mx-auto rounded-circle w-50" src="images/house_profile_pic.png" alt="">
                <h6 class="pt-3">My Home</h6>
                <p class="pt-0 m-0 fs-6">Address</p>
            </section>
            <ul class="my-3 list-group fw-bold">
                <a class="text-decoration-none" href="/home">
                    <li class="list-group-item bg-transparent btn-left-aside border-0"><i class="me-3 fs-5 bi bi-house"></i> Overview</li>
                </a>
                <li class="list-group-item bg-transparent btn-left-aside border-0"><i class="me-3 fs-5 bi bi-image-fill"></i> Gallery</li>
                <li class="list-group-item bg-transparent btn-left-aside  border-0"><i class="me-3 fs-5 bi bi-gear"></i> Setting</li>
                <li class="list-group-item bg-transparent btn-left-aside  border-0"><i class="me-3 fs-5 bi bi-clock-history"></i> History</li>
                <a class="text-decoration-none" href="/rooms">
                    <li class="list-group-item bg-transparent btn-left-aside active border-0"><i class="me-3 fs-5 bi bi-door-closed fw-bold"></i> Rooms</li>
                </a>
            </ul>
        </aside>

        <!-- right aside -->
        <section class="right-aside d-inline-flex flex-column justify-content-center align-items-center col-9 p-4">
            <!-- <h3 class="text-white display-6 mt-3">Rooms</h3> -->

            <div class="d-flex col-12 justify-content-center flex-wrap mt-3 text-light">

                <section class="d-inline-flex justify-content-center col-12 col-md-6 col-lg-3 mt-3">
                    <section class="col-11 block-color p-3 me-2 rounded-3">
                        <h5 class="d-inline-block mb-3">Room 1</h5>
                        <div class="d-flex justify-content-around align-items-center text-center">
                            <!-- <h6 class="d-inline-block display-6 col-9 me-1 lg-base">18&deg;C</h6> -->
                            <i class="bi bi-lightbulb display-5 d-inline-block col-3">
                                <p class="footer-ele-stat">Turn on lights</p>
                            </i>
                            <i class="bi bi-plug display-5 d-inline-block col-3">
                                <p class="footer-ele-stat">Disable outlets</p>
                            </i>
                            <i class="bi bi-people display-5 d-inline-block col-3">
                                <p class="footer-ele-stat">Ppl counter</p>
                            </i>
                        </div>
                        <button class="btn btn-primary rounded-pill extra-small-btn mt-2">Full control</button>
                        <!-- <i class="bi bi-thermometer-sun"></i>
                        <i class="bi bi-thermometer-snow"></i> -->
                    </section>
                </section>


                <section class="d-inline-flex col-12 col-md-6 col-lg-3 mt-3">
                    <section class="col-11 block-color p-3 me-2 rounded-3 d-inline-flex flex-column justify-content-center align-items-center">
                        <h5 class="d-inline-block mb-3">Add Room</h5>
                        
                        <a role="button" class="text-decoration-none text-light pointer">
                            <i class="bi bi-plus-square-dotted display-1"></i>
                        </a>
                        <!-- <i class="bi bi-thermometer-sun"></i>
                                        <i class="bi bi-thermometer-snow"></i> -->
                    </section>
                </section>

            </div>
            
        </section>
    </main>

    <footer class="d-flex justify-content-center align-items-center col-12 flex-wrap">
        
        <section class="block-color d-inline-flex justify-content-between align-items-center col-5 col-lg-2  rounded-3 p-2 me-4">
            <i class="bi bi-lightbulb-off display-6 text-light me-2 col-3"></i>
            <div class="col-6 justify-content-between align-items-center me-1">
                <p class="text-light m-0">Lights</p>
                <p class="footer-ele-stat m-0">Turn off <br> all lights</p>
                <!-- <p class="footer-ele-stat m-0">June 28, 2020</p> -->
                <!-- <i class="bi bi-thermometer-half display-6 d-inline-block col-3"></i> -->
            </div>
            <button class="btn btn-primary align-self-start"></button>
            <!-- <div class="form-check form-switch col-1 align-self-start">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
            </div> -->
        </section>

        <section class="block-color d-inline-flex justify-content-between align-items-center col-5 col-lg-2 rounded-3 p-2 my-2 me-4">
            <i class="bi bi-plug display-6 text-light me-2 col-3"></i>
            <div class="col-6 justify-content-between align-items-center me-1">
                <p class="text-light m-0">Outlets</p>
                <p class="footer-ele-stat m-0">Active since</p>
                <p class="footer-ele-stat m-0">June 28, 2020</p>
                <!-- <i class="bi bi-thermometer-half display-6 d-inline-block col-3"></i> -->
            </div>
            <div class="form-check form-switch col-1 align-self-start">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
            </div>
        </section>

        <section class="block-color d-inline-flex justify-content-between align-items-center col-5 col-lg-2 p-2 rounded-3">
            <i class="bi bi-door-open display-6 text-light me-2 col-3"></i>
            <div class="col-6 justify-content-between align-items-center me-1">
                <p class="text-light m-0">Lock doors</p>
                <p class="footer-ele-stat m-0">Active since</p>
                <p class="footer-ele-stat m-0">June 28, 2020</p>
                <!-- <i class="bi bi-thermometer-half display-6 d-inline-block col-3"></i> -->
            </div>
            <div class="form-check form-switch col-1 align-self-start">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
            </div>
        </section>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>